/* header start */
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

header {
    position: sticky;
    width: 1512px;
    z-index: 5;
    background-color: antiquewhite;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.logo {
    padding-left: 140px;
    padding-top: 38px;
    font-family: "Times New Roman", serif;
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px red;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(172, 56, 56);
}

ul {
    display: flex;
    list-style-type: none;
}

li {
    font-size: 13px;
    font-weight: bold;
    padding-left: 40px;
    padding-top: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.parent {
    display: flex;
}

.home {
    margin-left: 110px;
}

.login {
    font-size: 13px;
    font-weight: bold;
    margin-left: 120px;
    margin-top: 39px;
    margin-bottom: 25px;
    height: 40px;
    width: 100px;
    border-radius: 35px;
    color: black;
    background-color: seashell;
}

.login:hover {
    color: rgb(172, 56, 56);
    background-color: rgb(255, 229, 209);
}

/* CART */
.cart-box {
    margin-top: 60px;
    margin-bottom: 120px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .2);
}

/* Footer */

.footer {
    margin-top: 5px;
    height: 350px;
    width: 1512px;
    background-color: antiquewhite;
}

.logo1 {
    padding-left: 140px;
    padding-top: 50px;
    font-family: "Times New Roman", serif;
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px red;
}

.iconcdn {
    padding: 10px;
    font-size: 10px;

}

.iconcdn:hover {
    color: rgb(240, 117, 72);
}

.iconcdnall {
    margin-left: 95px;
}

.divv {
    margin-top: 50px;
    padding-left: 120px;
}

/* Login */

.pre {
    margin-top: 40px;
    margin-left: 450px;
}